{% extends 'base.html.twig' %}

{% block title %}Pronostics Football{% endblock %}
{% block container %}
    <div class="container">
        {% include 'utils/breadcrumb.html.twig' %}
        <div class="container__sports">
            <div class="container__sports-left container__sports-left-foot"></div>
            <div class="container__sports-center">
                {% include 'block/aside.html.twig' %}
                <div class="container__sports-center-content">
                    <div class="container__sports-center-maintitle" id="container__sports-center-anchor">
                        <h1>pronostic football</h1>
                        {{ app.request.attributes.get('_route') }}
                    </div>
                    <div class="container__sports-center-filters">
                        <a href="{{ path('sports_football') }}">
                            <div class="container__sports-center-filter
                                {% if app.request.attributes.get('_route') == 'sports_football' %}
                                    container__sports-center-filter-active
                                {% endif %}
                                ">tous
                            </div>
                        </a>
                        <a href="{{ path('sports_football_today') }}">
                            <div class="container__sports-center-filter
                                {% if app.request.attributes.get('_route') == 'sports_football_today' %}
                                    container__sports-center-filter-active
                                {% endif %}
                                ">aujourd'hui
                            </div>
                        </a>
                        <a href="{{ path('sports_football_tomorrow') }}">
                            <div class="container__sports-center-filter
                                {% if app.request.attributes.get('_route') == 'sports_football_tomorrow' %}
                                    container__sports-center-filter-active
                                {% endif %}
                                ">demain
                            </div>
                        </a>
                    </div>
                    <div class="container__sports-center-pronos">
                        {# Set date vars #}
                        {% set timeCurrent = "now"|format_time('short', locale='fr') %}

                        {% for prono in pronos %}
                            <div class="container__sports-center-prono
                                        container__sports-center-prono-all
                                        {% if prono.time | format_time('short', locale='fr') < timeCurrent %}
                                            container__sports-center-prono-red
                                        {% endif %}
                                        ">
                                <div class="container__sports-center-prono-date">
                                    {{ prono.date | format_date('full', locale='fr') }}
                                    <span class="container__sports-center-prono-date-span">à</span>
                                    {{ prono.time | format_time('short', locale='fr') }}
                                </div>
                                <div class="container__sports-center-prono-league">
                                    {{ prono.countryAndLeague }}
                                </div>
                                <div class="container__sports-center-prono-logos">
                                    <div class="container__sports-center-prono-logo">
                                        <img src="{{ asset('build/container/football/logos/ligue1/' ~ prono.homeTeam | prono_img ~ '.png') }}"
                                             alt="logo {{ prono.homeTeam }}">
                                    </div>
                                    <div class="container__sports-center-prono-logo">
                                        <img src="{{ asset('build/container/football/logos/ligue1/' ~ prono.visitorTeam | prono_img ~ '.png') }}"
                                             alt="logo {{ prono.visitorTeam }}">
                                    </div>
                                </div>
                                <div class="container__sports-center-prono-teams">
                                    <div class="container__sports-center-prono-team">
                                        {{ prono.homeTeam }}
                                    </div>
                                    <div class="container__sports-center-prono-team">
                                        {{ prono.visitorTeam }}
                                    </div>
                                </div>
                                <div class="container__sports-center-prono-text">
                                    notre prono :
                                </div>
                                <div class="container__sports-center-prono-subtext">
                                    <span class="capitalize">{{ prono.homeTeam }}</span> {{ prono.result|trim }}
                                    <div class="container__sports-center-prono-triangle"></div>
                                </div>
                                <div class="container__sports-center-prono-analysis">
                                    {{ prono.analysis }}
                                </div>
                                <div class="container__sports-center-prono-loto">
                                    <div class="container__sports-center-prono-loto-result
                                {% if (prono.result|trim is same as ("gagne le match")) or
                                        (prono.result|trim is same as ("gagne le match ou fait match nul")) %}
                                    container__sports-center-prono-loto-result-crossed
                                {% endif %}">
                                        1
                                    </div>
                                    <div class="container__sports-center-prono-loto-result
                                {% if (prono.result|trim is same as ("gagne le match ou fait match nul")) or
                                        (prono.result|trim is same as ("perd le match ou fait match nul")) %}
                                    container__sports-center-prono-loto-result-crossed
                                {% endif %}">
                                        N
                                    </div>
                                    <div class="container__sports-center-prono-loto-result-last
                                {% if (prono.result|trim is same as ("perd le match")) or
                                        (prono.result|trim is same as ("perd le match ou fait match nul")) %}
                                    container__sports-center-prono-loto-result-crossed
                                {% endif %}">
                                        2
                                    </div>
                                </div>
                                <div class="container__sports-center-prono-bet">
                                    <div class="container__sports-center-prono-bet-left">
                                        <img src="{{ asset('build/affiliate/' ~ prono.website ~ '.png') }}"
                                             alt="???"
                                             class="container__sports-center-prono-bet-left-img">
                                    </div>
                                    <div class="container__sports-center-prono-bet-center">
                                        {{ prono.odd }}
                                    </div>
                                    <a href="https://{{ prono.websiteUrl }}/" target="_blank">
                                        <div class="container__sports-center-prono-bet-right">
                                            pariez maintenant
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {{ knp_pagination_render(pronos) }}
                    </div>
                </div>
            </div>
            <div class="container__sports-right container__sports-right-foot"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('pronos') }}
{% endblock %}