<div class="affiliate">
    <div class="affiliate__grid">
        <div class="affiliate__item">
            <a href="https://www.betclic.fr/register" target="_blank">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
        <div class="affiliate__item">
            <a href="test.com">
                <img src="{{ asset('build/affiliate/betclic.png') }}" alt="banner" class="affiliate__item--img"/>
            </a>
        </div>
    </div>
    <div class="affiliate__infos">
        <div class="affiliate__infos-highlight">
            <h1 class="affiliate__infos-title highlight">
                <span class="affiliate__infos-title-first">c</span>
                <span class="affiliate__infos-title-rest">raft Betting</span>
            </h1>
            <p class="affiliate__infos-para highlight">Les artisans du pari vous proposent les meilleurs pronostics du moment</p>
        </div>
    </div>

    <div class="box">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="left"></div>
        <div class="right"></div>
    </div>

</div>