<header class="header">
    <div class="header__user">
        <div class="header__user-connexion">
            <div class="header__user-popin">
{#                {% if not app.user %}#}
                    {{ include('security/login.html.twig') }}
{#                {% else %}#}
{#                    {{ include('security/account.html.twig') }}#}
{#                {% endif %}#}
            </div>
            <div class="header__user-connexion-logo" id="logo">
                {% if app.user %}
                    <img src="{{ asset('build/header/user-' ~ app.user.vipStatus ~ '.png') }}"
                         alt="user"
                         class="header__user-connexion-logo-img">
                {% else %}
                    <img src="{{ asset('build/header/user-default.png') }}"
                         alt="user"
                         class="header__user-connexion-logo-img">
                {% endif %}
            </div>
            <div class="header__user-connexion-infos">
                {% if not app.user %}
                    350 parieurs inscrits
                {% else %}
                    125 parieurs connectés
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header__banner">
        <div class="header__banner--img-div"></div>
    </div>
</header>

{% block javascripts %}
    {{ encore_entry_script_tags('header') }}
{% endblock %}