<div class="menu mobile-hide tablet-show desktop-show">
    <div class="menu__grid">
        <a class="menu__grid-link" href="{{ path('homepage') }}">
            <div class="menu__grid-item {{ app.request.get('_route') == 'homepage' ? 'menu__grid-item-active' }}">
                accueil
            </div>
        </a>
        <div class="menu__grid-item {{ app.request.get('_route') == 'sports_football' ? 'menu__grid-item-active' }} ||
                                    {{ app.request.get('_route') == 'sports_basket' ? 'menu__grid-item-active' }} ||
                                    {{ app.request.get('_route') == 'sports_tennis' ? 'menu__grid-item-active' }}">
            pronos
            <div class="menu__grid-item-toggle">
                <a class="menu__grid-link" href="{{ path('sports_football') }}">
                    <div class="menu__grid-item-toggle-sport
                            menu__grid-item-toggle-sport-first">foot
                    </div>
                </a>
                <a class="menu__grid-link" href="{{ path('sports_basketball') }}">
                    <div class="menu__grid-item-toggle-sport">basket nba</div>
                </a>
                <a class="menu__grid-link" href="{{ path('sports_tennis') }}">
                    <div class="menu__grid-item-toggle-sport">tennis atp</div>
                </a>
            </div>
        </div>
        <a href="">
            <div class="menu__grid-item {{ app.request.get('_route') == '???' ? 'menu__grid-item-active' }}">
                resultats
            </div>
        </a>
        <a href="">
            <div class="menu__grid-item {{ app.request.get('_route') == '???' ? 'menu__grid-item-active' }}">
                parrainage
            </div>
        </a>
        <a href="">
            <div class="menu__grid-item {{ app.request.get('_route') == '???' ? 'menu__grid-item-active' }}">
                forum
            </div>
        </a>
    </div>
</div>
